body { 
    padding: 5px 0px 0px 2px; 
    background-color: #010101;
    color: ghostwhite;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    padding: 0;
}

.cards { 

    width: 500px; 
    height: 700px; 
    display: flex; ;
    border: 4px solid ghostwhite;
    border-radius: 10px; 
    overflow-x: auto; 
    position: relative; 
}

.cards > img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    flex-shrink: 0; 
    position: sticky; 
    left: 0; 
}
